@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@import '@fontsource/space-mono/400.css';
@import '@fontsource/space-mono/700.css';

@theme {
	--font-family-sans: 'Space Mono', ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono', monospace;
}

body {
	font-family: var(--font-family-sans);
}
